/*#ff5388;*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:960px)
    {
        .conteudo.segundo-conteudo, .conteudo.primeiro-conteudo {
            width: 100%;
            height: 100%;                   
        }
    }

body{
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.conteudo{
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteudo::before{
    content: "" ;
    position: absolute;
    background-color: #ff5388;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0%;
}
.title{
    font-weight: bold;
    text-transform: capitalize;
}
.primeiro-titulo {
    color: white;
}
.segundo-titulo{
    color: #ff5388;
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.primeira-descr{
    color: white;
}

.segunda-descr{
    color:  #9e9e9e;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}
.primeiro-btn{
    background-color: transparent;
    border: 1px solid white;
    transition: background-color .5s;
}
.primeiro-btn:hover{
    background-color: white;
    color: #ff5388;
}
.segundo-btn{
    background-color: #ff5388;
    border: 1px solid #ff5388;
    transition: background-color .5s;
}
.segundo-btn:hover{
    background-color: white;
    border: 1px solid #ff5388;
    color: #ff5388;
}
.primeiro-conteudo {
    display: flex;
}
.primeiro-conteudo .segunda-coluna{
    z-index: 11;
}
.primeira-coluna{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.segunda-coluna{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media{
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color: #ff5388;
    color: white;
    border-color: #ff5388;
}
.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #9e9e9e;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    font-family: 'Open Sans', sans-serif;
    color: #9e9e9e;
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}
.segundo-conteudo {
    position: absolute;
    display: flex;   
}
.segundo-conteudo .primeira-coluna{
    order: 2;
    z-index: -1;
}
.segundo-conteudo .segunda-coluna{
    order: 1;
    z-index: -1;
}
.password{
    color: #34495e;
    font-size: 14px;
    margin: 15px 0px;
    text-align: center;
}
.password::first-letter{
    text-transform: capitalize;
}
.sign-in-js .primeiro-conteudo .primeira-coluna {
    z-index: -1;
}
.sign-in-js .segundo-conteudo .segunda-coluna {
    z-index: 11;
}
.sign-in-js .segundo-conteudo .primeira-coluna {
    z-index: 13;
}
.sign-in-js .conteudo::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s; 
    z-index: 12;
}
.sign-up-js .conteudo::before {
    animation: slideout 1.3s; 
    z-index: 12;
}
.sign-up-js .segundo-conteudo .primeira-coluna,
.sign-up-js .segundo-conteudo .segunda-coluna {
    z-index: -1;
}
.sign-up-js .primeiro-conteudo .segunda-coluna {
    z-index: 11;
}
.sign-up-js .primeiro-conteudo .primeira-coluna {
    z-index: 13;    
}
.sign-in-js .primeiro-conteudo .segunda-coluna {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; 
}
.sign-up-js .segundo-conteudo .segunda-coluna {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; 
}

/*CSS ANIMAÇÃO*/
@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }
    25% {
        left: 5%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 45%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 50%;
    }
    to {
        left: 0;
        width: 40%;
    }
}


